[Unit]
Description=A job worker for flusio

[Service]
User=__APP__
Group=__APP__
ExecStart=/usr/bin/php__PHPVERSION__ __FINALPATH__/cli jobs watch

[Install]
WantedBy=multi-user.target